/* #caseRow {
    margin-bottom: 1px solid black;
}
#caseEdit, #caseDelete, #caseView {
    padding: 0;
    margin:0;
    width: 3px;
}
#caseTextCell
{
    color:red;
    height:40px;
    overflow-y: scroll;
}
#caseEditCell, #caseDeleteCell, #caseViewCell {

}
#tblManageCases {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (min-width: 768px) {
    #caseName, #caseDate {
        width: 7%;
    }

    #caseControls {
        width: 10%;
        text-align:right;
    }

    #caseText {
        width:50%;
    }

    #controls {
        float:right;
    }
}

@media only screen and (max-width: 768px) {
    #caseControls {
    width: 25%;
    text-align:right;
}
	tr td:nth-child(3), th:nth-child(3) { display:none; visibility:hidden; }
}

@media only screen and (max-width: 420px) {
	tr td:nth-child(3), tr th:nth-child(3)	{ display:none; visibility:hidden; }
}

@media only screen and (max-width: 320px) {
	tr td:nth-child(3), tr th:nth-child(3)	{ display:none; visibility:hidden; }
} */

.pageBody {
    margin-top: 80px;
}

#manageTable {

}
#caseDeleteCell, #caseViewCell, #caseEditCell {
    text-align: center;
}

.caseTextView {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid grey;
}

#header {
    margin-bottom: 60px;
}

.formViewCase {
    text-align:center; 
    margin-right:auto;
    margin-left:auto;
    display:block;
}
.pageBodyHome {
    margin-top: 55px;
}

#caseTabs {
    text-align:center;
    border: 0;
}

.caseTab {
    width: 100%;
}
.loader {
    margin-top: 25%;
    text-align: center;
}
.loaderBlock { 
    text-align: center;
}
